
header{
		color: white;
		background-color: #F15B31;
		padding: 30px 20px;
}


body {
	text-align: center;
	margin : 0;
}

h1 { 
	font-family: raleway;
	color: #0d2c40;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
	text-transform: uppercase;
 }


 a {
	font-family: RALEWAY;
	color: #f15b31;	color: white;

	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px; 
	text-decoration: none;
	margin: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

footer{
	text-transform: uppercase;
	padding-left:20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.8em;
	font-weight: 500;

}

.copyright{
	font-family: RALEWAY;
	float: left;
}

.message{
	font-family: RALEWAY;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #F15B31;
	fontweight: 700;
}

h2 {
	font-family: RALEWAY;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px; 
	text-transform: uppercase;

}

p{
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}



nav {
	color: white;
	background-color: #00A6B3;
	padding-top: 20px;
	padding-bottom: 20px;	
	text-transform: uppercase; 
}

main{
	width: 850px;
	margin: 35px auto;
/*	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;*/
}

img {
	margin: 40px 8px;
}